body {
  font-family: "Open Sans", sans-serif;
  color: #999;
  background-color: #999;
}

.headerbanner{
  background-image: url("header.jpg");
  height: 180px;
  background-size: cover;
}

.navbar-inverse{
  color: #999;
  background-color: #710C0C;

}

 .nav >li > a{
   font-family: "Open Sans", sans-serif;
  color: #999;
   font-size: 16px;
}

h1{
  font-size: 18px;
  text-align: center;
}

ul{
  list-style: none;
}

.well{
  background-color: #710C0C;
  border: 0px;
  text-align: left;
}

.knight{
  background-image: url(frontpage.jpg);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

.well >p {
  text-align: left;
}

.well >ul>li > a{
  color: #999;
}

.well> h2{
  font-size: 18px;
  text-align: left;
}

.navbar-toggle{
  color: white;
}